<!--
    So the below im only calling one car so i use model with lowercase and 
    then i use the namespace then the class
-->
@model CarSalesWeb.Models.Car
@{
}
  <!-- this is just the card that only calls one car use underscore model-->
<div class="col-md-3 d-flex" class1="display: flex">
    <div class="card w-100 h-100 d-flex flex-column">     
        <img src="/Carimages/@Model.Image" alt="CAR" style="width:100%" />
        <div class="card-body">
            <h1>@Model.Manufacturer</h1>
            <h2>@Model.Model</h2>
            <h3>$@Model.Price</h3>
            <h4>@Model.Odometer KMS</h4>
            <h5>@Model.Year</h5>
            <h6>@Model.Category</h6>
        </div>
    </div>
</div>
