<!-- Holy moly this took me for ever but this pretty much lets index.cshtml know to recieve a list of Car objects from the controller
I first used the container type then the namespace then the class name for it to work !-->
@model List<CarSalesWeb.Models.Car>

@{
    ViewData["Title"] = "Home Page";
   
}

<div class="hero-video-container">
    <video autoplay muted loop class="hero-video">
        <source src="/video/HomeVid.mp4" type="video/mp4" />
    </video>

    <div class="hero-overlay">
     
        

        <div class="text-center my-3">
            <p class="lead fs-4 text-white">Drive your dream car. Buy, sell, and explore <span class="fw-bold">Iconic Japanese Cars</span></p>
        </div>
        <!-- some css-->
        
                <div class="col-md-6 mx-auto">
                
                    <!--
                        So this is the search bar below
                        A form lets me user input speak into the server
                        asp controller tells it which controller handles the request
                        Also method get makes the query go into the url
                    -->
                    <form asp-controller="Home" method="get">
                        <!-- the name is the most important thing here as it makes the url have search appear in it -->                                <!-- this value keeps the search so when sortby is selected the search stays-->
                        <input class="form-control text-dark py-3 shadow-sm mb-3" name="search" type="text" placeholder="Search To Find Your Dream Car Today..." value="@(ViewData["CurrentSearch"] ?? "")">

              


                    </form>


                </div>
            
    </div>
</div>

        <div class="container my-4">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <form asp-controller="Home" method="get">
                        <!-- so below ive added a dropdown list that orders the list of cars with any of the options below -->
                        <!-- when clicked it adds any of the values into the url and puts it into the parameter in the home controller next to the search-->
                            <div class="d-flex justify-content-end gap-2">
                                <select name="sortOrder" class="form-select">
                                    <option value="">Sort by</option>
                                    <option value="price_asc">Price: Low → High</option>
                                    <option value="price_desc">Price: High → Low</option>
                                    <option value="year_new">Year: New → Old</option>
                                    <option value="year_old">Year: Old → New</option>
                                </select>
                                <button type="submit" class="btn btn-primary">Apply</button>
                            </div>
                    </form>
        </div>
            </div>
                </div>












<div class="mb-3">
    <p class="lead fs-4 text-secondary">Currently Available</p>
</div>


<!--
okay for the below i pretty much created a loop that goes through each car in the list
i added a card so the car has its own box and looped some of the info 

-->
<div class="row g-3">
@foreach (var car in Model)
{
        
        <div class="col-md-3 d-flex align-items-stretch">
            <!-- this makes the whole card clickable and makes it so action hits "Details" action and route to make it the carID-->
            <!-- the class makes the text dark-->
            <!-- makes the whole card clickable-->
            <a asp-action="Details" asp-route-id="@car.CarID" class="text-decoration-none text-dark w-100 h-100 d-block">
                <div class="card car-card w-100 h-100 d-flex flex-column">
        <!-- I linked the image by putting the path in the card instead of in the image attribute so i dont have to
            write the full path each time
        -->
        
        
        <img src="/Carimages/@car.Image" alt="CAR" />
                <div class="card-body">
                <h5 class="mb-1">@car.Manufacturer @car.Model</h5>
                <p class="mb-1">@car.Year @car.Category</p>
                <p class="mb-1">@car.Odometer KMS</p>
                <div class="car-price">$@car.Price</div>                     
                </div>
        
                </div>
            </a>
         </div>
    
}

    
</div>



