<!-- Holy moly this took me for ever but this pretty much lets index.cshtml know to recieve a list of Car objects from the controller
I first used the container type then the namespace then the class name for it to work !-->
@model List<CarSalesWeb.Models.Car>

@{
    ViewData["Title"] = "Home Page";
   
}

<div class="text-center">
    <h1 class="display-4">JDMClassics</h1>
    <p>Buy, Sell and Browse the best japansese cars known to man.</p>
</div>
<!--
okay for the below i pretty much created a loop that goes through each car in the list
i added a card so the car has its own box and looped some of the info 

-->
<div class="row g-4">
@foreach (var car in Model)
{
        <div class="col-md-4 d-flex" class1="display: flex">
            <div class="card w-100 h-100 d-flex flex-column">
        <!-- I linked the image by putting the path in the card instead of in the image attribute so i dont have to
            write the full path each time
        -->
        <img src="/Carimages/@car.Image" alt="CAR" style="width:100%" />
                <div class="card-body">
                <h1>@car.Manufacturer</h1>
                <h2>@car.Model</h2>
                <h3>$@car.Price</h3>
                <h4>@car.Odometer KMS</h4>
                <h5>@car.Year</h5>
                <h6>@car.Category</h6>
        </div>
    </div>
    </div>
}
</div>



